@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

/*NORMALIZE*/
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #e1e1e1;
  margin-top: 10px;
  left: 0;
}

@media (min-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__container {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: block;
  margin-right: auto;
  font-family: Slab;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 150px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header__list {
  display: none;
}

@media (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

.header__link {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.15;
  color: #b08100;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header__link:focus {
  color: #ffa500;
}

.header__link:hover {
  color: #ffa500;
}

.menu__list {
  display: none;
}

@media (min-width: 1200px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.menu__list--item {
  margin-right: 20px;
}

.menu__list--item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.15;
  color: #b08100;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.menu__link:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  color: #ffa500;
}

.menu__link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  color: #ffa500;
}

/*Мобильное меню*/
.menu-toggle {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  min-width: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.menu-toggle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.menu-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  z-index: 3;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow-y: scroll;
}

.menu-container .menu-toggle {
  border: solid 1px #e1e1e1;
}

.js-close-menu {
  display: block;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  margin-right: 8px;
  margin-bottom: 23px;
  color: #b08100;
}

.js-close-menu:hover {
  color: #ffa500;
}

.js-close-menu:focus {
  color: #ffa500;
}

.close-icon {
  display: block;
  margin: 5px;
  fill: currentColor;
}

.mob-menu__list {
  margin-top: 32px;
}

.mob-menu__list--item:not(:last-child) {
  margin-bottom: 22px;
}

.mob-menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.28;
  color: #b08100;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.mob-menu__link:hover {
  color: #ffa500;
}

.mob-menu__link:focus {
  color: #ffa500;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}

.contact__list--item {
  margin-top: 20px;
}

.contact__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  color: #b08100;
}

.contact__link:hover {
  color: #ffa500;
}

.contact__link:focus {
  color: #ffa500;
}

.hero {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.hero__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../img/hero-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    background-image: url(../img/hero-tab.png);
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .hero__container {
    max-width: 1200px;
    background-image: url(../img/hero-desktop.png);
  }
}

.hero__name {
  margin-top: 10px;
  font-family: Slab;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  line-height: 1.15;
  color: #b08100;
}

.hero__button {
  margin-top: 50px;
  margin-bottom: 220px;
  padding: 7px;
  border: 0px;
  border-radius: 20px;
  color: #fff;
  background-color: #b08100;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.hero__button:hover {
  background-color: #ffa500;
}

.hero__button:focus {
  background-color: #ffa500;
}

.advantages {
  padding-top: 10px;
  padding-bottom: 10px;
}

.advantages__container {
  max-width: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .advantages__container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .advantages__container {
    max-width: 1200px;
  }
}

.advantages__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: Slab;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 1.15;
  color: #b08100;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advantages__list--item {
  max-width: 380px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .advantages__list--item {
    max-width: 340px;
  }
}

.advantages__list--name {
  font-family: Slab;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.advantages__list--text {
  margin-top: 10px;
  font-family: Slab;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #757575;
}

.areas {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fcfce6;
}

@media (min-width: 768px) {
  .areas {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.areas__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .areas__container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .areas__container {
    max-width: 1200px;
  }
}

.areas__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: Slab;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 1.15;
  color: #b08100;
}

.areas__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .areas__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.areas__list--item {
  margin-top: 30px;
  background-color: #fff;
}

.areas__list--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Slab;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.clients {
  padding-top: 10px;
  padding-bottom: 30px;
}

.clients__container {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .clients__container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .clients__container {
    max-width: 1200px;
  }
}

.clients__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: Slab;
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
  line-height: 1.15;
  color: #b08100;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__list--item {
  margin-top: 30px;
}

.clients__list--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Slab;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  color: #000000;
}

.item__container {
  width: 270px;
}

.client__sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__sociallist--item:not(:last-child) {
  margin-right: 10px;
}

.client__sociallist--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__sociallink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #b08100;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.client__sociallink:focus {
  color: #fff;
  background-color: #ffa500;
}

.client__sociallink:hover {
  color: #fff;
  background-color: #ffa500;
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a19e5a;
}

.footer__container {
  max-width: 480px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
  }
}

.footer__logo {
  display: block;
  font-family: Slab;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 1.15;
  color: #fff;
}

.footer__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer__adress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer__sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sociallist--item:not(:last-child) {
  margin-right: 10px;
}

.footer__sociallist--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sociallink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background-color: #fff;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.footer__sociallink:focus {
  color: #fff;
  background-color: #ffa500;
}

.footer__sociallink:hover {
  color: #fff;
  background-color: #ffa500;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */