$text-1:#000000;
$text-p:#757575; 
$focus: #ffa500;
$hover: #c7133e;
$hero-h:#b08100;
$bg-hero: #fff;
$bg-icon: #fea5bb;
$bg-footer: #a19e5a;
$bg-sec: #fcfce6;
$icon: #d31342;
$border: #e1e1e1;
$box-shadow: rgba(212, 20, 67, 0.1);
$animation-dur: 250ms;
$animation-type: linear;
$font: Roboto;
$font-h: Slab;
